---
name: Static Code Analysis

on: workflow_call

jobs:
  static_code_analysis:
    name: Run checks

    env:
      ruby_version: '3.1'
      extra_checks: check:symlinks check:git_ignore check:dot_underscore check:test_file
      PUPPET_FORGE_TOKEN: 'YES'

    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout current PR code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install ruby version ${{ env.ruby_version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.ruby_version }}
          bundler-cache: true
        env:
          BUNDLE_RUBYGEMS___PUPPETCORE__PUPPET__COM: forge-key:${{ secrets.PUPPET_FORGE_TOKEN_PUBLIC }}

      - name: Run rubocop check
        run: bundle exec rake ${{ env.extra_checks }} rubocop

      - name: Run syntax check
        run: bundle exec rake ${{ env.extra_checks }} syntax syntax:hiera syntax:manifests syntax:templates

      - name: Run lint check
        run: bundle exec rake ${{ env.extra_checks }} lint

      - name: Run metadata_lint check
        run: bundle exec rake ${{ env.extra_checks }} metadata_lint
