---
name: Unit Tests with nightly Puppet gem

on: workflow_call

jobs:
  unit_tests_with_nightly_puppet_gem:
    name: Puppet${{ matrix.puppet_version }} gem on Ruby ${{ matrix.ruby }} on ${{ matrix.os_type }}
    strategy:
      matrix:
        os: ['ubuntu-20.04', 'macos-12', 'windows-2019']
        puppet_version: ['7', '8']
        include:
          - puppet_version: '7'
            ruby: '2.7'
          - puppet_version: '8'
            ruby: '3.1'

          - os: 'ubuntu-20.04'
            os_type: 'Linux'
            env_set_cmd: 'export '
            gem_file: 'puppet-latest.gem'
          - os: 'macos-12'
            os_type: 'macOS'
            env_set_cmd: 'export '
            gem_file: 'puppet-latest-universal-darwin.gem'
          - os: 'windows-2019'
            os_type: 'Windows'
            env_set_cmd: '$env:'
            # setup-ruby uses ucrt for newer Rubies, but we only support mingw
            # in our Windows Puppet nightly gems. For now, we'll just install
            # the universal gem and manually install the ffi dependency
            gem_file: 'puppet-latest.gem'
            extra_steps: 'gem install ffi --version 1.15.5'

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout current PR code
        uses: actions/checkout@v4

      - name: Install ruby version ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Install the latest nightly build of puppet${{ matrix.puppet_version }} gem
        run: |
          ${{ matrix.extra_steps }}
          curl https://nightlies.puppet.com/downloads/gems/puppet${{ matrix.puppet_version }}-nightly/${{ matrix.gem_file }} --output puppet.gem --location
          gem install puppet.gem -N

      - name: Prepare testing environment with bundler
        run: |
          git config --global core.longpaths true
          bundle config set system 'true'
          bundle config set --local without 'release'
          ${{ matrix.env_set_cmd }}PUPPET_GEM_VERSION=$(ruby -e 'puts /puppet\s+\((.+)\)/.match(`gem list -eld puppet`)[1]')
          bundle update --jobs 4 --retry 3

      - name: Run unit tests
        run: bundle exec rake parallel_spec
